.title{
    color: rgb(34, 230, 64);
    font-family: Raleway;
    font-size: 2rem;
    position: absolute;
    left: 27rem;
    top: 10rem;
    text-shadow: 4px 3px 4px rgba(13, 5, 5, 0.774);
}

.description{
    color: rgba(251, 255, 255, 0.987);
    font-family: Raleway;
    font-size: 1rem;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    text-align:left;
    position: absolute;
    left: 27rem;
    top:15rem;
    text-shadow: 5px 3px 1px rgba(43, 50, 43, 0.894);
}

.imagen{
    height: 15rem;
    position: absolute;
    left: 10%;
    top: 27%;
    border-radius: 100%;
    border: solid 3px;
    border-color: rgba(91, 231, 15, 0.311); 
};

